extends pug/base

append vars
    - title = "Отель-заповедник «Лесное» - Официальный сайт гостиницы — Отдых в Подмосковье | Питание включено"
    - meta.viewport = "width=device-width, initial-scale=1"

block content
    header.main-header
        .main-nav-wrapper
            nav.main-nav
                ul.main-nav__list
                    li.main-nav__list-item
                        a(href="#") об отеле
                    li.main-nav__list-item
                        a(href="#") номера и цены
                    li.main-nav__list-item
                        a(href="#") мероприятия
                    li.main-nav__list-item
                        a(href="#") контакты
            a.header-tel(href="tel:74950056159") +7 (495) 005-61-59
    section.section.welcom-section
        .welcom-section__wrapper
        .template-wrapper
            .welcom-section__information
                h1.welcom-title
                    span.title-row1 отель-заповедник
                    span.title-row2
                        img(src="images/main-title.png" alt="Отель-заповеднин Лесное")
                    span.title-row3 премиальный отдых в подмосковье
                .welcom-section__text
                    .price
                        span.row-price1 от
                        span.row-price2 5 500 &#x20bd;
                        span.row-price3 в сутки
                    .content-text
                        p
                            | 4х&nbsp;разовое питание и&nbsp;all inclusive. Собственное подсобное хозяйство, бассейн, баня, конный двор
                            | и&nbsp;контактный зоопарк.
        footer.welcom-section-footer
            .template-wrapper.welcom-section-footer__wrapper.template-wrapper_with-decor
                form(method="post" action="#").room-reservation
                    .room-reservation__title Бронирование номеров
                    .form-item.reservation__date
                        label.form-label.reservation-label.reservation-label_date
                            span.form-label__span Заезд
                            input(type="text" autocomplete="off" name="date-arrival").date-start.form-input.input-date.reservation-form
                    .form-item.reservation__date
                        label.form-label.reservation-label.reservation-label_date
                            span.form-label__span Выезд
                            input(type="text" autocomplete="off" name="date-departure").date-end.form-input.reservation-form.input-date
                    .form-item.reservation__guest
                        label.form-label.reservation-label.reservation-label_guest
                            span.form-label__span.form-label__span-guest Гости
                            input(type="text" autocomplete="off" name="guest" value="1").form-input.reservation-form.reservation-form_user
                    .form-item
                        button.button-submit(type="submit") Найти номер
                picture.deer-img
                    source(srcset="images/deer-img__image.webp" type="image/webp")
                    img(src="images/deer-img__image.png" alt="Олень")
                .deer
                    video(loop autoplay muted).video-deer
                        source(src="images/deer-video.mp4" type="video/mp4")
                        source(src="images/deer-video.webp" type="video/webp")
                    | <svg class="clip-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1253" height="1597" viewBox="0 0 1253 1597">
                    | <defs>
                    |     <style>
                    |       .cls-1 {
                    |         fill: #eee;
                    |         fill-rule: evenodd;
                    |         filter: url(#filter);
                    |       }
                    |     </style>
                    |     <filter id="filter" x="334" y="9567" width="1253" height="1597" filterUnits="userSpaceOnUse">
                    |       <feOffset result="offset" dy="7" in="SourceAlpha"/>
                    |       <feGaussianBlur result="blur" stdDeviation="4"/>
                    |       <feFlood result="flood" flood-color="#575b7c" flood-opacity="0.1"/>
                    |       <feComposite result="composite" operator="in" in2="blur"/>
                    |       <feBlend result="blend" in="SourceGraphic"/>
                    |     </filter>
                    |   </defs>
                    |   <clipPath id="clippath">
                    |     <path class="cls-1" d="M689,10870c0.553,17.9,25.394,153,102,209,96.015,70.2,249.09,61.6,261,61,21.42-1.2,46-28,46-28s80.21-17.2,54-121c0.08-53.7-17.9-103.4,5.46-149.1,13.96-11.3,18.56-34.1,18.56-34.1s111.35,10.1,214.57-15.6c37.43,4.2,134.88,21.6,152.94-49,8.59,0,15.39-8.4,11.47-23.2,4.92-6.8,23.03-21.2,11.55-42.9-3.59-5.8-12.91-17.2-21.53-18.5-7.91-5.3-48.45-39.3-66.82-46-18.43-16.5-95.33-76.8-106.17-86.1-10.84-9.4-93.15-94.5-113.6-101.7-8.52-9.9-61.03-75.5-73.5-79.4,10.17-3.9,68.57-23.7,90.58-72.8,24.72-21.7,54.39-59.7,37.87-138.8-2.75-7.7-8.38-11.6-8.91,5.2s-17.15,66.8-21.54,76.5c-3.38-16.6-10.4-79.7-50.48-80.2-10.81-.9-8.34,7.3-0.74,10.4s19.85,11.6,20.78,35.6,6.05,62.6-4.45,68.3-90.34,37.1-125.47,40.1c-34.31-7.9-94.29-27.5-94.29-27.5s81.95-57.3,72.01-101.7c-3.39-.9-5.65,13.7-15.59,20.1s-86.777,60.9-98.745,62.3c-9.575-11.4-33.64-39.4-31.182-55.6,6.065-5.1,25.319-28.8,40.834-66.1,18.263-43.8,31.683-103,17.073-121.72-9.89,12.12-19.035,45.22-23.755,57.92s-29.429,81.2-51.229,92c-25.946,18.9-70.911,8.3-89.836-3.7,2.249-26.6,12.374-96,14.849-113.6,2.475-17.5,14.845-80.01,15.591-109.06,3.981-26.54,11.713-110.98,13.364-118.02,3.256-9.18,11.475-44.01,7.425-65.32-1.046-20.36-.109-37.69-7.425-37.11s-6.318,30.69-8.909,42.31-17.362,61.01-25.243,91.29-19.117,181.11-54.941,181.11c-34.294-10.8-39.987-40.85-42.32-60.86,4.268-30.93,5.2-68.29,5.2-68.29s9.764-166.82,11.137-189.27c5.8-28.48,47.517-112.82,47.517-112.82s2.9-15.81-11.137-9.65c-3.96,6.16-7.425,12.62-7.425,12.62s-7.527-14.08-18.561-2.97c-3.4,9.75-7.223,14.95-12.621,23.76s-22.209,49.53-32.668,61.6-27.867,35.39-36.38,35.63-34.024-3.24-42.32-20.04-11.879-24.5-11.879-24.5-10.207-4.16-8.909,5.2,1.182,19.32,11.137,25.23c-16.942-7.8-47.9-36.6-51.972-34.88s-23.319,34.88,70.533,75.71c6.152,4.95,27.985,35.66,23.758,67.54-9.291,28.68-16.848,31.69-19.3,37.11s-3.356,21.6-14.106,27.46-30.694,17.57-50.487-4.45-23.974-28.72-25.243-37.85-16.959-102.41-6.682-135.83,36.126-69.62,28.213-80.16c-12.655,2.37-27.649,26.95-33.41,34.14s-15.59,15.45-41.577,97.97c-9.445,33.32-20.993,74.69-43.062,92.78-23.934,10.52-61.665,26.99-80.927,26.72s-45.289-13.36-45.289-13.36l-8.167,11.88,6.682,8.91s36.442,21.7,65.335,23c29.439,4.38,53.577,20.33,61.623,40.09s8.91,17.07,8.91,17.07,35.984,62.01-31.183,84.61c-56.425,12.2-57.168-1.5-57.168-1.5s-36.881-92.94-40.835-89.79c-11.689,9.91,6.544,71.79,6.682,96.49-0.532,39.1-31.738,51.6-25.986,77.9,4.575,9.8,16.965-16.7,42.32-14.8s53.713,2.7,115.079-8.2c73.9,4.7,167.618,5.8,199.719,31.2s53.806,40.9,60.881,44.5c7.678,14,7.156,69.2,146.262,121.8a247.735,247.735,0,0,1,37.865,37.8l-68.3-15.6s-62.93-47.8-92.806-26c-26.237-13.7-64.926-35.5-72.018-5.2,12.136,38.8,16.022,76.6,60.881,122.5,44.858,46,69.472,80.1,82.411,84.6-13.205,26.2-85.418,228.3-113.594,282.1C720.2,10822.9,687.754,10829.7,689,10870Z" transform="translate(-334 -9567)"/>
                    |   </clipPath>
                    | </svg>
                .form-decor
