@keyframes welcomSectionAnimate1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes welcomSectionAnimate2 {
  0% {
    width: 0;
  }
  100% {
    width: 24px;
  }
}
@keyframes welcomSectionAnimate3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}