*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}
button {
	display: inline-block;
	border: none;
	background-color: transparent;
	color: inherit;
	padding: 0;
}
p {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
img {
	vertical-align: top;
	max-width: 100%;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input::-ms-clear {
	display: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
picture {
	display: inline-block;
}
label {
	display: inline-block;
}
input {
	border: none;
}
input::-webkit-input-placeholder       {color: #444444; font-weight: 500; opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {color: #444444; font-weight: 500; opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {color: #444444; font-weight: 500; opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {color: #444444; font-weight: 500; opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

html {
	box-sizing: border-box;
}
