@font-face {
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-family: "bebas-neue";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/BebasNeueBook.woff2") format("woff2"), url("../fonts/BebasNeueBook.woff") format("woff");
  font-family: "bebas-neue";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff");
  font-family: "myriad-pro";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/MyriadProSemibold.woff2") format("woff2"), url("../fonts/MyriadProSemibold.woff") format("woff");
  font-family: "myriad-pro";
  font-weight: 600;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');