// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-BurlyWood: #c7af8a;
$color-DimGray: #444444;
$color-BurlyWood: #c7af89;
$color-Wheat: #d3c1a2;
$color-brown-reservation: #c5ac84;
$color-form-color: #1d1d1b;
$color-submit-button: #fbd407;

// FONTS
$font-family-bebas: 'bebas-neue', sans-serif;
$font-family-monserrat: 'Montserrat', sans-serif;
$font-family-myriad: 'myriad-pro', sans-serif;
