@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "datepicker-config";
@import "datepicker";
@import "cell";
@import "navigation";
@import "timepicker";

body{
  font-family: $font-family-bebas;
  font-weight: 400;
  background: #ffffff;
  font-size: 16px;
  color: #1d1d1b;
}
.main-header {
  @include flex;
  padding: 58px 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.main-nav-wrapper, .main-nav__list {
  margin-left: auto;
  @include flex;
}
.main-nav__list-item a, .header-tel {
  font-size: 24px;
}
.main-nav__list-item {
  margin-right: 100px;
}
.header-tel {
  border: 1px solid $color-BurlyWood;
  border-radius: 10px;
  padding: 5px 12px;
}
.main-nav-wrapper {
  padding: 0 31px;
}
.welcom-section__wrapper {
  background: url("../images/main-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-wrapper, .root-wrapper {
  display: flex;
  flex-direction: column;
}
.root-wrapper {
  min-height: 100vh;
}
.main-footer {
  margin-top: auto;
}
.welcom-section__information {
  position: relative;
  z-index: 3;
  margin-left: calc(500% / 12);
  padding-left: 28px;
  padding-top: 163px;
}
.template-wrapper {
  width: 100%;
  max-width: 1728px;
  padding: 0 23px;
  margin: 0 auto;
}
.welcom-title {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  font-weight: 400;
  color: $color-DimGray;
  font-size: 34px;
  margin-bottom: 91px;
  opacity: 0;
  animation: welcomSectionAnimate1 1s ease 1s both;
}
.title-row1 {
  margin-left: 66px;
  margin-bottom: 10px;
}
.title-row3 {
  font-weight: 300;
  margin-left: auto;
  font-size: 51px;
}
.title-row2 {
  margin-bottom: 30px;
}
.price {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-BurlyWood;
  opacity: 0;
  animation: welcomSectionAnimate3 1s ease 2.2s both;
  font-weight: 600;
}
.row-price1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: -5px;
}
.row-price2 {
  font-size: 44px;
}
.content-text p {
  font-size: 18px;
  line-height: 1.5;
  color: $color-DimGray;
  font-weight: 600;
}
.welcom-section__text {
  font-family: $font-family-monserrat;
  position: relative;
  padding-left: 54px;
  margin-left: 196px;
  padding-top: 11px;
  &::before {
    content: '';
    width: 0;
    overflow: hidden;
    height: 237px;
    display: block;
    background: url("../images/decor.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    animation: welcomSectionAnimate2 .3s ease 1.5s both;
  }
}
.welcom-section {
  position: relative;
  overflow: hidden;
}
.row-price3 {
  margin-left: auto;
  font-size: 18px;
  margin-right: 6px;
  margin-top: -6px;

}
.content-text {
  margin-top: 24px;
  max-width: 316px;
  font-family: $font-family-myriad;
  opacity: 0;
  animation: welcomSectionAnimate3 1s ease 2.2s both;
}
.room-reservation {
  background: $color-Wheat;
  position: relative;
  &::before, &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: $color-brown-reservation;
    position: absolute;
    left: 0;
  }
  &::before {
    top: 0;
    transform: translateY(-4px);
  }
  &::after {
    bottom: 0;
    transform: translateY(4px)
  }
}
.room-reservation {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 8px;
  justify-content: center;
}
.form-input {
  height: 48px;
  border-radius: 3px;
  width: 100%;
  font-family: $font-family-monserrat;
  font-size: 18px;
  font-weight: 500;
  color: $color-DimGray;
}
.room-reservation__title {
  flex-shrink: 0;
  font-size: 30px;
  margin-right: 30px;
  color: $color-form-color;
  margin-left: -88px;
}
.form-label {
  position: relative;
}
.form-label__span {
  position: absolute;
  font-size: 12px;
  top: 8px;
  left: 52px;
  color: $color-DimGray;
  font-family: $font-family-monserrat;
}
.welcom-section-footer__wrapper {
  padding-right: 0;
  padding-left: 250px;
}
.form-item + .form-item {
  margin-left: 23px;
}
.reservation__date {
  width: 161px;
}
.reservation-label {
  width: 100%;
}
.reservation__guest {
  width: 85px;
}
.button-submit {
  font-family: $font-family-monserrat;
  font-size: 18px;
  height: 48px;
  width: 180px;
  border-radius: 3px;
  background: $color-submit-button;
  box-shadow: 0px 5px 6px 0px rgba(87, 91, 124, 0.45);
}
.reservation-label_date::before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  background: url("../images/small-calendar.svg") no-repeat;
  position: absolute;
  top: 13px;
  left: 15px;
}
.reservation-label_guest::before {
  content: '';
  width: 19px;
  height: 19px;
  display: block;
  background: url("../images/user-2.svg") no-repeat;
  position: absolute;
  top: 14px;
  left: 10px;
}
.reservation-form {
  padding: 19px 10px 0 52px;
}
.welcom-section-footer {
  margin-top: 92px;
  margin-bottom: 201px;
}
.reservation-form_user {
  padding-left: 41px;
  text-align: center;
}
.form-label__span-guest {
  left: 41px;
}
.template-wrapper_with-decor {
  position: relative;
  &::before {
    content: '';
    width: 108px;
    height: 38px;
    display: block;
    background: url("../images/decor-footer.png") no-repeat;
    position: absolute;
    left: 50%;
    top: -4px;
    transform: translate(-50%, -100%);
    margin-left: 103px;
  }
  &::after {
    content: '';
    width: 108px;
    height: 38px;
    display: block;
    background: url("../images/decor-footer.png") no-repeat;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: 103px;
    transform: translate(-50%, 100%) rotate(180deg);
  }
}
.deer, .deer-img {
  clip-path: url("#clippath");
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: -365px;
  bottom: -91px;
  width: 1253px;
  height: 1597px;
  pointer-events: none;
  & img {
    width: 100%;
    height: 100%;
  }
}
.clip-svg {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.form-decor {
  position: absolute;
  right: 0;
  top: 0;
  background: $color-Wheat;
  width: 100vw;
  height: 100%;
  transform: translate(100%, 0);
  &::before {
    content: '';
    width: 100%;
    height: 2px;
    background: $color-brown-reservation;
    position: absolute;
    top: 0;
    transform: translateY(-4px);
  }
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: $color-brown-reservation;
    position: absolute;
    bottom: 0;
    transform: translateY(4px);
  }
}
.video-deer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.deer-img {
  display: none;
}
.is-browser-edge .deer,
.is-browser-ie .deer {
  display: none;
}
.is-browser-edge .deer-img,
.is-browser-ie .deer-img {
  display: block;
}
@import "animation";